@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
  outline: 0;
}

:root {
  --background: #F8F0E3;
  /* Fundo principal */
  --text: #7E5A3A;
  /* Texto padrão */
  --text-primary: #A67B52;
  /* Texto principal */
  --secondary: #E2C5A8;
  /* Elementos secundários */
  --accent: #FFD700;
  /* Acentos (estrelas) */
  --light-gray: #EDEDED;
  /* Cinza claro */
}

html {
  font-size: 62.5%;
  font-family: "Poppins";
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--light-gray);
}

.presentation {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  background-color: var(--light-gray);
  background-image: url(assets/background.png);
  background-size: contain;
}
.presentation .image-container {
  width: 250px;
  height: 250px;
}
.presentation .image-container .bear-image {
  width: 250px;
  animation: flying-bear 2s forwards;
}
.presentation .content {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.7s both;
}
.presentation .content .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Playwrite SK";
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--text);
  margin: 1rem 0rem;
}
.presentation .content button {
  width: 40%;
  aspect-ratio: 1/1;
  padding: 1rem;
  background-color: #A67B52;
  color: white;
  font-family: "Poppins";
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 50%;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes flying-bear {
  from {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) scale(2);
  }
  to {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@keyframes text-focus-in {
  from {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.menu {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-gray);
  overflow: auto;
}
.menu .header-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.menu .header-container .logo-image {
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 0;
}
.menu .header-container .title {
  font-family: "Playwrite SK";
  font-size: 3.8rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
}
.menu .main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 1rem 4rem 1rem;
}
.menu .main-container .title-secondary {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: var(--text);
}
.menu .main-container .list-container {
  position: relative;
  padding: 1rem 2rem;
  background-color: rgba(226, 197, 168, 0.25);
  border-radius: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.205);
  box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.1);
}
.menu .main-container .list-container .food-image {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 100px;
  border: 3px solid #7E5A3A;
  border-radius: 15px;
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.1);
  -o-object-fit: cover;
     object-fit: cover;
}
.menu .main-container .list-container .list-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--text);
}
.menu .main-container .list-container .list {
  min-height: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 2rem;
  list-style: disc;
}
.menu .main-container .list-container .list .list-item {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text);
}/*# sourceMappingURL=style.css.map */